<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  
  <%= erb :_head %>

  <body>
    <div class="wrapper">
      <div><a href="/flair-gg-vp-server/resources"><img src="/images/flair-gg-logo.png" width="400px"/></a></div>


      <%= erb :_sidebar %>

        <h3>Service Execution Parameters</h3>

<%
=begin

class ServiceCollection  @servicecollection
  attr_accessor :vpgraph, :servicetype, :allservices, :warnings, :escapedtype
class Service  (from allservices)
  attr_accessor :contact, :title, :openapi, :endpoint, :apiobject, :base, :paths,  :escapedendpoint
  retrieve_parameters:  params[param.name] = param  # responds to "in", "name", "description", "schema.example", "schema.type"

@commonparameters  (shared by all services) commonparams[paramname] = params[paramname], 
every param  responds to "in", "name", "description", "schema.example", "schema.type"

=end
%>

        <form action = "/flair-gg-vp-server/execute-data-services" method="post">
        <input type="hidden" name="servicetype" value="<%= @servicecollection.escapedtype %>">

        <% @commonparams.each do |paramname, param| %>
          <label for="<%= paramname %>" style="font-size: .75em;"><%= paramname %></label><br/>
          <input type="text" size="70" name="<%= paramname %>" id="<%= paramname %>" value="<%= param.schema.example %>"><br/><br/>
        <% end %>

        <hr>
        <br/><br/>

        <h3>Which providers should these values be sent to?</h3>
        <% if @servicecollection.warnings.first %>
          WARNINGS:<br/><br/>
          <% @servicecollection.warnings.each do |warn| %>
            - <%= warn %><br/>
          <% end %>
        <% end %>

        <table>
          <% @servicecollection.allservices.each do |service| %>
            <tr>
              <td style="padding-right: 5px;">
                <input type="checkbox" name="endpoint[]" value="<%= service.escapedendpoint %>" id="<%= service.escapedendpoint %>"/>
              </td>
              <td>
                <h4>Provider: <a href="<%= service.contact %>" _target="_blank"><%= service.contact %></a></h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><span style="font-size: .75em;"><%= service.title %></span></td>
            </tr>
            <tr>
              <td>---<br/></td><td></td>
            </tr>
          <% end %>
        </table>
        <br/><br/>
        <input type="submit" value="Let's do this!"/>
        <form>


      <%= erb :_footer %>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
